/* 適当に追加してるので誰か整理とデザインしてくれると嬉しいです＞＜ */

/****** total ******/

body {
	font-size: 9pt;
	background-color: white;
	background-image: url("../img/bg_slash_3_ccc.png");
}

a {
	color: #1C94C4;
}
.separate-table {
	width: 100%;
}

.right-col {
	text-align: right;
}

.block-title {
	margin: 0.3em 0.5em;
}

button {
	font-size: 60%;
}

/****** outline ******/

#main-box {
	border-collapse: separate;
	padding: 5px;
	background-color: white;
	border: #ccc 1px solid;
	width:  496px;
}

.area-title,
.area-video,
.area-control,
.area-info,
.area-radiooo.
.area-tabs {
}

.area-title,
.area-control,
.area-info,
.area-radiooo {
	background-color: #f8f8f8;
	border: 1px #ccc solid;
}
.area-control,
.area-info,
.area-radiooo {
}
.area-info,
.area-radiooo {
	display: none;
}
.area-tabs {
	/*display: none;*/
}



/****** area title ******/

.area-title {
	border-color: #f6931f;
	background-color: white;
}
.video-title {
	padding: 0 0 2px 0;
	margin:  0 0 2px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #f6931f;
	font-weight: bold;
	font-size: 9pt;
}
.video-title a {
	text-decoration: none;
	color: #f6931f;
}
.video-title a:hover {
	text-decoration: underline;
	color: #1c94c4;
}

.video-info {
	text-align: right;
	font-family: monospace;
	font-size: 8pt;
}

#videoLink {
	margin: 0 1em 0 0;
}
#videoUserIcon {
	width:  10px;
	height: 10px;
	margin: 0 3px 0 0;
	vertical-align: bottom;
}



/****** area video ******/
.area-video {
	text-align: center;
}





/****** area control ******/

td.area-control {
	height:  1px;
	padding: 0;
	border:  1px #E78F08 solid;
	background: #ddd url(ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png);
}
td.area-control * {
	/*border: 1px red solid;*/
}
.control-layout {
	border-collapse: collapse;
	width: 482px;
	height: 39px;
}
.control-layout td {
	vertical-align: middle;
	margin: 0;
}
.control-layout td.ctrl-buttons {
	width: 145px;
	padding: 0 0 0 5px;
}
.control-layout td.info {
	width: 145px;
}
.control-layout td.volume {
	
}
.control-layout div.info {
	background:     white;
	text-align:     center;
	vertical-align: middle;
	font-family:    monospace;
	border:    1px #ccc solid;
	padding:   9px 0;
	font-size: 8pt;
	margin:    0;
}
.control-layout div.info * {
	/*border: 1px red solid;*/
}

/* volume */

#volume-control {
	border-collapse: collapse;
	text-align: right;
	vertical-align: bottom;
	margin: 0 5px 0 auto;
}

#volume-control .volume-value {
	font-weight: bold;
	color: #f6931f;
	font-family: monospace;
}
#volume-control td.mute-button {
	width: 70px;
}
#volume-control td.vol-slider {
	width: 90px;
}





/****** area tabs ******/

#block-tabs ul.ui-tabs-nav {
}
#block-tabs li.ui-state-default,
#block-tabs li.ui-state-default a,
#block-tabs span.ui-button-text {
	font-size: 8pt;
}
#block-tabs li.ui-tabs-selected {
}
#block-tabs li.ui-tabs-selected a {
}
#block-tabs div.ui-tabs-panel {
	padding: 0;
}
#block-tabs table.tab-contents td {
	height:  35px;
	margin:  0;
	padding: 6px 4px 4px 4px;
	vertical-align: middle;
	line-height:    1.2;
	//background-color: #fcc;
}

/** tab - Reaction **/
span.span-reqinfo {
	margin: 0 0 0 150px;
	font-family: monospace;
	text-align: right;
}

/** tab - Credit **/
.copyright {
	font-size: 80%;
}
.copyright a {
	
}





/****** area info ******/

#radioo-channel {
	font-family: monospace;
}
#radiooo-playlist-length {
	font-family: monospace;
}



/****** area radiooo ******/

.helplink a {
	color: #f6931f;
}


